{% extends 'main/baseinfos.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/absences.min.css')}}">
	<link rel="stylesheet" href="{{ asset('assets/css/accueil.min.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/absences.js')}}" defer></script>
{% endblock %}

{% block infos %}

	<div>
		<div class="grid">
			<div>Lundi</div>
			<div>Mardi</div>
			<div>Mercredi</div>
			<div>Jeudi</div>
			<div>Vendredi</div>
			<div>Samedi</div>
			<div>Dimanche</div>

			{% for vide in infosUtiles.jourUn %}
				<div id='0'></div>
			{% endfor %}


			{% for jour in jours %}

				{% if infosUtiles.jourActuel == jour %}

					<div class="actuel jours" id="{{ jour.jour }}/{{ jour.mois }}/{{ jour.annee }}">{{ jour.jour }}</div>

				{% else %}

					<div class="jours" id="{{ jour.jour }}/{{ jour.mois }}/{{ jour.annee }}">{{ jour.jour }}</div>


				{% endif %}


			{% endfor %}

			{% for vide in infosUtiles.jourDernier %}
				<div id='0'></div>
			{% endfor %}

		</div>

		<section class="infosComplementaires">

			<div>
				{% for absence in infosAbsences %}
					<a href="{{ path('_modif', {id: absence.id}) }}">
						<div class="absence" id="{{ absence.debut }}-{{ absence.fin }}">
							<div class="flex">
								<p>Du
									{{ absence.debut }}
									au
									{{ absence.fin }}</p>
								<p>Justifiée :

									{% if absence.justif == 0 %}
										Non
									{% endif %}

									{% if absence.justif == 1 %}
										Oui
									{% endif %}

								</p>
							</div>
							<p>Motif :
								{{ absence.motif }}</p>
						</div>
					</a>
				{% endfor %}
			</div>

		</section>

	</div>

	<div>
		{{ form_errors(absencesForm) }}

		{{ form_start(absencesForm) }}
		<div>
			{{ form_row(absencesForm.debut, { value: '' }) }}
			{{ form_row(absencesForm.fin, { value: '' }) }}
			{{ form_row(absencesForm.motif, { value: '' }) }}
		</div>

		<div>
			{{ form_row(absencesForm.document, { value: '' }) }}
			{{ form_row(absencesForm.justif, { value: '', label: 'Absence Justifiée' }) }}

			<button>Confirmer l'absence</button>
		</div>

		{{ form_end(absencesForm) }}
	</div>


{% endblock %}
