{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/accueil.min.css')}}">
{% endblock %}

{% block body %}

    <div class="flex">

        <section class="navbar">
            <ul>
                <li><a href="{{ path('app_main') }}">+ Ajouter un élève</a></li>
                
                {% for eleve in elevesRepository %}
                    <li>
                
                        <a href="{{ path('_infos', {id: eleve.id}) }}">{{ eleve.nom }} {{ eleve.prenom }}</a>

                    </li>

                {% endfor %}
            </ul>
        
        </section>

        

        <section class="eleve">
        
            <div>
            {% if eleves.photo == null %}
                <img src="{{ asset('assets/uploads/avatar.svg')}}" alt="Photo de profil">
            {% else %}
                <img src="{{ asset('assets/uploads/image/' ~ eleves.photo)}}" alt="Photo de profil">
            {% endif %}
            
                <p>{{ eleves.civilite }} {{ eleves.nom }} {{ eleves.prenom }}</p>
                <p>{{ eleves.educateursId.nom }} {{ eleves.educateursId.prenom }}</p>
            </div>

            <div>
                <ul>
                    <a href="{{ path('_infos', {id: eleves.id}) }}"><li>Informations Personnelles</li></a>
                    <a href="{{ path('_documents', {id: eleves.id}) }}"><li>Pièces Administratives</li></a>
                    <a href="{{ path('_suivi', {id: eleves.id}) }}"><li>Suivi / Accompagnement</li></a>
                    <a href="{{ path('_absences', {id: eleves.id}) }}"><li>Absences</li></a>
                </ul>
            </div>

        </section>

        <section class="infos">

{% block infos %}{% endblock %}

        </section>

{% endblock %}
