{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/accueil.min.css')}}">
{% endblock %}

{% block body %}

    <div class="flex">

        <section class="navbar">
            <ul>
                <li>+ Ajouter un élève</li>
                
                {% for eleve in elevesRepository %}
                    <li>
                
                        {{ eleve.nom }} {{ eleve.prenom }}

                    </li>

                {% endfor %}
            </ul>
        
        </section>

        

        <section class="eleve">
        
            <div>
            {% if eleves.photo == null %}
                <img src="{{ asset('assets/uploads/avatar.svg')}}" alt="Photo de profil">
            {% else %}
                <img src="{{ asset('assets/uploads/' ~ eleves.photo)}}" alt="Photo de profil">
            {% endif %}
            
                <p>{{ eleves.civilite }} {{ eleves.nom }} {{ eleves.prenom }}</p>
                <p>{{ eleves.educateursId.nom }} {{ eleves.educateursId.prenom }}</p>
            </div>

            <div>
                <ul>
                    <a href=""><li>Informations Personnelles</li></a>
                    <a href=""><li>Pièces Administratives</li></a>
                    <a href=""><li>Suivi / Accompagnement</li></a>
                    <a href=""><li>Absences</li></a>
                </ul>
            </div>

        </section>

{% block infos %}{% endblock %}

    </div>
{% endblock %}
