{% extends 'main/baseinfos.html.twig' %}


{% block infos %}

	<section class="infos">

		{{ form_errors(elevesForm) }}

		{{ form_start(elevesForm) }}

		<div>
			<div>
				<h2>Eleve</h2>
				{{ form_row(elevesForm.civilite, {
                    value: eleves.civilite,
                    label: 'Civilité : '
                }) }}
				{{ form_row(elevesForm.nom, {
                    value: eleves.nom,
                    label: 'Nom : '
                }) }}
				{{ form_row(elevesForm.prenom, {
                    value: eleves.prenom,
                    label: 'Prénom : '
                }) }}
				{{ form_row(elevesForm.photo, {
                    value: eleves.photo,
                    label: 'Photo : '
                }) }}
			</div>

			<div>
				<h2>Etat Civil</h2>
				{{ form_row(elevesForm.adresse, {
                    value: eleves.adresse,
                    label: 'Adresse : '
                }) }}
				{{ form_row(elevesForm.code_postal, {
                    value: eleves.codePostal,
                    label: 'Code postal : '
                }) }}
				{{ form_row(elevesForm.ville, {
                    value: eleves.ville,
                    label: 'Ville : '
                }) }}
				{{ form_row(elevesForm.email, {
                    value: eleves.email,
                    label: 'email : '
                }) }}{{ form_row(elevesForm.portable, {
                    value: eleves.portable,
                    label: 'Portable : '
                }) }}
				{{ form_row(elevesForm.fixe, {
                    value: eleves.fixe,
                    label: 'Fixe : '
                }) }}
			</div>

			<div>
				<h2>Personne à contacter en cas d'urgence</h2>
				{{ form_row(elevesForm.nom_urgence, {
                    value: eleves.nomUrgence,
                    label: 'Nom : '
                }) }}
				{{ form_row(elevesForm.prenom_urgence, {
                    value: eleves.prenomUrgence,
                    label: 'Prénom : '
                }) }}
				{{ form_row(elevesForm.telephone_urgence, {
                    value: eleves.telephoneUrgence,
                    label: 'Téléphone : '
                }) }}
			</div>

			<div>
				<h2>Lieu de naissance</h2>
				{{ form_row(elevesForm.lieu_naissance, {
                    value: eleves.lieuNaissance,
                    label: 'Lieu : '
                }) }}
				{{ form_row(elevesForm.date_naissance, {
                    value: eleves.dateNaissance,
                    label: 'Date : '
                }) }}
				{{ form_row(elevesForm.nationalite, {
                    value: eleves.nationalite,
                    label: 'Nationalité : '
                }) }}
			</div>

			<div>
				<h2>Situation Personnelle</h2>
				{{ form_row(elevesForm.etat_civil, {
                    value: eleves.etatCivil,
                    label: 'Etat Civil : '
                }) }}
				{{ form_row(elevesForm.enfants, {
                    value: eleves.enfants,
                    label: 'Enfants : '
                }) }}
			</div>

			<div>
				<h2>Moyen de locomotion</h2>
				{% if eleves.transports == null %}
					<p>Aucun transports sélectionné</p>
				{% endif %}

				{# {% for transport in eleves.transports %}
					{{ form_row(elevesForm.transports, {
                    choice: transport,
                    label: 'Transport(s) : '
                    }) }}
				{% endfor %} #}

                {{ form_row(elevesForm.transports, {
                    label: 'Transport(s) : ',
                    checked: true
                    }) }}

                {{ form_row(elevesForm.newtransport, {
                    label: 'Ajouter un transport : '
                    }) }}


			</div>

		</div>


		<div>
			<div>
				<h2>Matériel informatique</h2>
				{{ form_row(elevesForm.ordinateur, {
                    value: eleves.ordinateur,
                    label: 'Possède un ordinateur : '
                }) }}
			</div>

			<div>
				<h2>Apte au sport</h2>
				{{ form_row(elevesForm.sport, {
                    value: eleves.sport,
                    label: 'Est apte au sport : '
                }) }}
			</div>

			<div>
				<h2>Validation inscription</h2>
				{{ form_row(elevesForm.validation_inscription, {
                    value: eleves.validationInscription,
                    label: 'Inscription Validée : '
                }) }}
			</div>

			<div>
				<h2>Parcours</h2>
				{{ form_row(elevesForm.date_inscription, {
                    value: eleves.dateInscription,
                    label: 'Date d\'inscription à la Digitale Académie : '
                }) }}
				{{ form_row(elevesForm.formation, {
                    value: eleves.formation,
                    label: 'Intitulé de la formation : '
                }) }}
				{{ form_row(elevesForm.niveau_formation, {
                    value: eleves.niveauFormation,
                    label: 'Niveau de la formation : '
                }) }}
				{{ form_row(elevesForm.annee_formation, {
                    value: eleves.anneeFormation,
                    label: 'Année de la formation : '
                }) }}
			</div>

			<div>
				<h2>Suivi</h2>
				{{ form_row(elevesForm.educateurs_id, {
                    choice: eleves.educateursId,
                    label: 'Éducateur référent : '
                }) }}
				{{ form_row(elevesForm.prescripteur, {
                    value: eleves.prescripteur,
                    label: 'Prescripteur : '
                }) }}
				{{ form_row(elevesForm.conseiller, {
                    value: eleves.conseiller,
                    label: 'Conseiller(e) (Pôle emploi ou Mission locale) : '
                }) }}
				{{ form_row(elevesForm.droit_image, {
                    value: eleves.droitImage,
                    label: 'Droit à l\'image : '
                }) }}
			</div>

			<button>Confirmer les changements</button>
		</div>

		{{ form_end(elevesForm) }}

	</section>

{% endblock %}
