{% extends 'main/baseinfos.html.twig' %}

{% block title %}Modification de l'absence
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/absences.min.css')}}">
	<link rel="stylesheet" href="{{ asset('assets/css/accueil.min.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/absences.js')}}" defer></script>
{% endblock %}

{% block infos %}
	<h3>{{ moisActuel }}</h3>

	<div>
		<div class="grid">
			<div>Lundi</div>
			<div>Mardi</div>
			<div>Mercredi</div>
			<div>Jeudi</div>
			<div>Vendredi</div>
			<div>Samedi</div>
			<div>Dimanche</div>

			{% for vide in infosUtiles.jourUn %}
				<div id='0'></div>
			{% endfor %}


			{% for jour in jours %}

				<div class="jours
				{% if infosUtiles.jourActuel == jour %}actuel{% endif %}
				" id="{{ jour.jour }}/{{ jour.mois }}/{{ jour.annee }}">{{ jour.jour }}</div>

			{% endfor %}

			{% for vide in infosUtiles.jourDernier %}
				<div id='0'></div>
			{% endfor %}

		</div>

		<section class="infosComplementaires">

			<div>
				{% for absence in infosAbsences %}
					<a href="{{ path('_modif', {id: absence.id}) }}"
						{% if absence.id is same as(absences.id) %} class="selectionne"{% endif %}
						>
						<div class="absence" id="{{ absence.debut }}-{{ absence.fin }}-{{ absence.justif }}">
							<div class="flex">
								<p>Du
									{{ absence.debut }}
									au
									{{ absence.fin }}</p>
								<p 
									{% if absence.justif == 1 %}
										class="orange"
									{% endif %}
								>Justifiée :

									{% if absence.justif == 0 %}
										Non
									{% endif %}

									{% if absence.justif == 1 %}
										Oui
									{% endif %}

								</p>
							</div>
							<p>Motif :
								{{ absence.motif }}</p>
						</div>
					</a>
				{% endfor %}
			</div>

		</section>
	</div>

    <a href="{{ path('_absences', {id: eleves.id}) }}">+ Ajouter une absence</a>

	<div>
		{{ form_errors(absencesForm) }}

		{{ form_start(absencesForm) }}
		<div>
			{{ form_row(absencesForm.debut, { value: absences.debut }) }}
			{{ form_row(absencesForm.fin, { value: absences.fin }) }}
			{{ form_row(absencesForm.motif, { value: absences.motif }) }}
		</div>

		<div>
			{{ form_row(absencesForm.document, { value: absences.document }) }}
			{{ form_row(absencesForm.justif, { value: absences.justif, label: 'Absence justifiée' }) }}
			
			<p>Absence non-justifiée<input type="checkbox" class="absencejustif"
			{% if absences.justif == false %}checked{% endif %}
			></p>
			
			

			<button>Confirmer l'absence</button>
		</div>

		{{ form_end(absencesForm) }}
	</div>


{% endblock %}
