{% extends 'main/baseinfos.html.twig' %}

{% block title %}Informations de l'étudiant
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/accueil.js')}}" defer></script>
	<script src="{{ asset('assets/js/checkbox.js')}}" defer></script>
	<script src="{{ asset('assets/js/cned.js')}}" defer></script>
	<script src="{{ asset('assets/js/dispositif.js')}}" defer></script>
	<script src="{{ asset('assets/js/incomplet.js')}}" defer></script>
	<script src="{{ asset('assets/js/coach.js')}}" defer></script>
{% endblock %}

{% block infos %}

	{{ form_errors(elevesForm) }}

	{{ form_start(elevesForm) }}

	<div>
		<div>
			<h2>Etudiant</h2>
			{{ form_row(elevesForm.civilite, {
                    value: eleves.civilite,
                    label: 'Civilité : '
                }) }}
			{{ form_row(elevesForm.nom, {
                    value: eleves.nom,
                    label: 'Nom : '
                }) }}
			{{ form_row(elevesForm.prenom, {
                    value: eleves.prenom,
                    label: 'Prénom : '
                }) }}
			{{ form_row(elevesForm.photo, {
                    value: eleves.photo,
                    label: 'Photo : '
                }) }}
		</div>

		<div>
			<h2>Coordonnées</h2>
			{{ form_row(elevesForm.adresse, {
                    value: eleves.adresse,
                    label: 'Adresse : '
                }) }}
			{{ form_row(elevesForm.code_postal, {
                    value: eleves.codePostal,
                    label: 'Code postal : '
                }) }}
			{{ form_row(elevesForm.ville, {
                    value: eleves.ville,
                    label: 'Ville : '
                }) }}
			{{ form_row(elevesForm.email, {
                    value: eleves.email,
                    label: 'Email : '
                }) }}{{ form_row(elevesForm.portable, {
                    value: eleves.portable,
                    label: 'Portable : '
                }) }}
			{{ form_row(elevesForm.fixe, {
                    value: eleves.fixe,
                    label: 'Fixe : '
                }) }}
		</div>

		<div>
			<h2>Naissance</h2>
			{{ form_row(elevesForm.date_naissance, {
                    value: dn,
                    label: 'Date : '
                }) }}
			{{ form_row(elevesForm.lieu_naissance, {
                    value: eleves.lieuNaissance,
                    label: 'Lieu : '
                }) }}
			{{ form_row(elevesForm.nationalite, {
                    value: eleves.nationalite,
                    label: 'Nationalité : '
                }) }}
		</div>

		<div>
			<h2>Situation personnelle</h2>
			{{ form_row(elevesForm.etat_civil, {
                    value: eleves.etatCivil,
                    label: 'Etat Civil : '
                }) }}
			{{ form_row(elevesForm.enfants, {
                    value: eleves.enfants,
                    label: 'Enfants : '
                }) }}
		</div>


		<div>
			<h2>Moyen de locomotion</h2>
			{% if tableau == null %}
				<p>Aucun transports sélectionné</p>

			{% else %}

				<div class="overflow">
					{% for transport in tableau %}
						<p>{{ transport.transport }}
							<input type="checkbox" class="transport" id="{{ transport.id }}">
						</p>
					{% endfor %}
				</div>

				<div class="dnone">
					{{ form_row(elevesForm.removetransports, {
                    value: ''
                    }) }}
				</div>

			{% endif %}


			{{ form_row(elevesForm.newtransport, {
                    value: '',
                    label: 'Ajouter un transport : '
                    }) }}
		</div>
	</div>


	<div>
		<div>
			<h2>Responsable légal</h2>
			{{ form_row(elevesForm.nom_urgence, {
                    value: eleves.nomUrgence,
                    label: 'Nom : '
                }) }}
			{{ form_row(elevesForm.prenom_urgence, {
                    value: eleves.prenomUrgence,
                    label: 'Prénom : '
                }) }}
			{{ form_row(elevesForm.telephone_urgence, {
                    value: eleves.telephoneUrgence,
                    label: 'Téléphone : '
                }) }}
			{{ form_row(elevesForm.lien_parente, {
                    value: eleves.lienParente,
                    label: 'Lien de parenté : '
                }) }}
		</div>

		<div>
			<h2>Informations complémentaires</h2>
			{{ form_row(elevesForm.ordinateur, {
                    value: eleves.ordinateur,
                    label: 'Possède un ordinateur : '
                }) }}
			{{ form_row(elevesForm.droit_image, {
                    label: 'Droit à l\'image : '
                }) }}
		</div>

		<div>
			<h2>Inscription DA</h2>
			{{ form_row(elevesForm.validation_inscription, {
                value: eleves.validationInscription,
                label: 'Inscription validée : '
            }) }}
			{{ form_row(elevesForm.date_inscription, {
                value: di,
                label: 'Le : '
            }) }}
		</div>
        
        <div>
			<h2>Cotisation DA</h2>
			{{ form_row(elevesForm.cotisations, {
                value: eleves.cotisations,
                label: 'Cotisation payée : '
            }) }}
			{{ form_row(elevesForm.cotisations_date, {
                value: dc,
                label: 'Payée le : '
            }) }}
			{{ form_row(elevesForm.moyen_paiement, {
                value: eleves.moyenPaiement,
                label: 'Moyen de paiement : '
            }) }}
            {{ form_row(elevesForm.montant, {
                value: eleves.montant,
                label: 'Montant : '
            }) }}
		</div>

        <div>
            <h2>Inscription CNED</h2>
			{{ form_row(elevesForm.date_cned, {
                value: '',
                label: 'Commande effectuée le : '
            }) }}
			{{ form_row(elevesForm.statut_cned, {
                value: eleves.statutCned,
                label: 'Statut : '
            }) }}
            {{ form_row(elevesForm.date_inscription_cned, {
                value: '',
                label: 'Le : '
            }) }}
		</div>

		<div>
			<h2>Parcours</h2>
				{{ form_row(elevesForm.formation, {
                    value: eleves.formation,
                    label: 'Intitulé de la formation : '
                }) }}
				{{ form_row(elevesForm.annee_formation, {
                    value: eleves.anneeFormation,
                    label: 'Année de la formation : '
                }) }}
                {{ form_row(elevesForm.indicatif_cned, {
                    value: eleves.indicatifCned,
                    label: 'Indicatif CNED : '
                }) }}
                {{ form_row(elevesForm.identifiant_cned, {
                    value: eleves.identifiantCned,
                    label: 'Identifiant CNED : '
                }) }}
                {{ form_row(elevesForm.password_cned, {
                    value: eleves.passwordCned,
                    label: 'Mot de passe CNED : '
                }) }}
			</div>

			<div>
				<h2>Suivi</h2>
				{{ form_row(elevesForm.educateurs_id, {
                    required: false,
                    choice: eleves.educateursId,
                    label: 'Coach référent : '
                }) }}
				{{ form_row(elevesForm.educateur_non_inscrit, {
                    value: eleves.educateurNonInscrit,
                    label: 'Coach référent (si non inscrit) : '
                }) }}
				{{ form_row(elevesForm.prescripteur, {
                    value: eleves.prescripteur,
                    label: 'Prescripteur : '
                }) }}
				{{ form_row(elevesForm.conseiller, {
                    value: eleves.conseiller,
                    label: 'Conseiller(e) (Pôle emploi ou Mission locale) : '
                }) }}
			    {{ form_row(elevesForm.suivi, {
                    value: eleves.suivi,
                    label: 'L\'étudiant est toujours suivi à la digitale académie : '
                }) }}

			<div class="jsnone">
				{{ form_row(elevesForm.date_fin_suivi, {
                        value: dfs,
                        label: 'Depuis le : '
                    }) }}
				{{ form_row(elevesForm.motif, {
                        value: eleves.motif,
                        label: 'Motif : '
                    }) }}
			</div>
		</div>
	</div>

	<div>
		<div>
			<h2>Dispositif d'aide</h2>
			{{ form_row(elevesForm.dispositif_aide, {
                value: da.choix,
                label: 'Dispositif d\'aide : '
            }) }}
            {{ form_row(elevesForm.valeur_dispositif, {
                value: da.valeur,
                label: 'Veuillez préciser : ',
            }) }}
            
        </div>

        <div>
			<h2>Stage</h2>
			{{ form_row(elevesForm.stage_debut, {
                value: sd,
                label: 'Début : '
            }) }}
			{{ form_row(elevesForm.stage_fin, {
                value: sf,
                label: 'Fin : '
            }) }}
			{{ form_row(elevesForm.stage_entreprise, {
                value: eleves.stageEntreprise,
                label: 'Nom de l\'entreprise : '
            }) }}
			{{ form_row(elevesForm.stage_tuteur, {
                value: eleves.stageTuteur,
                label: 'Nom du tuteur : '
            }) }}
			{{ form_row(elevesForm.stage_tuteur_fonction, {
                value: eleves.stageTuteurFonction,
                label: 'Fonction du tuteur : '
            }) }}
			{{ form_row(elevesForm.stage_tel, {
                value: eleves.stageTel,
                label: 'Téléphone du tuteur : '
            }) }}
		</div>

        <div>
			<h2>Dossier</h2>
			{{ form_row(elevesForm.complet, {
                value: eleves.complet,
                label: 'Dossier complet : '
            }) }}
			{{ form_row(elevesForm.incomplet, {
                value: eleves.incomplet,
                label: 'Documents manquants : '
            }) }}
		</div>

		<button>Confirmer les changements</button>
	</div>


	{{ form_end(elevesForm) }}

</section></div>{% endblock %}
